@using BrgyIS.Models
@{
    ViewBag.Title = "Position";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewBag.Title</div>
        <div class="row row-cols-lg-auto g-1 align-items-center mt-3">
            <div class="col" aria-action="Add">
                <p>
                    <a href="#" onclick="CreateForm()"><i class="fa fa-plus-circle"></i> New record</a>
                </p>
            </div>
        </div>
        <div class="table-responsive">
            <table id="data" class="table table-light table-hover table-striped" style="font-size:0.9rem;with:100%;">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Position</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="actionModal" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts {
    <script>
        var CreateForm = () => {
            $.get('@Url.Action("Create", "Position", new { area = "" })', null, (d) => {
                $('#actionModal .modal-content').html(d);
                $('#actionModal').modal('show');
            });
        }

        var EditForm = (ID) => {
            $.get(`@Url.Action("Edit", "Position", new { area = "" })?ID=${ID}`, null, (d) => {
                $('#actionModal .modal-content').html(d);
                $('#actionModal').modal('show');
            });
        }

        var table = $('#data').DataTable({
            layout: {
                top: {
                    buttons: [{ extend: 'print', exportOptions: { columns: ':visible' } }, { extend: 'excel', exportOptions: { columns: ':visible' } }, { extend: 'colvis', exportOptions: { columns: ':visible' } }]
                }
            },
            ajax: { url: '@Url.Action("List", "Position", new { area = ""})' },
            columns: [{ data: 'Position' },
			{
			    data: 'ID',
			    render: (data) => { return `<a href='#' onclick="EditForm(${data})"><i class="fa fa-edit"></i></a>`; }
			}],
            ordering: false,
            searching: true,
            stateSave: true
        });
    </script>
}