@using BrgyIS.Models
@model tbl_Person
@{

}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.fname, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.mn, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.mn, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.mn, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.lname, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Suffix, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.Suffix, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.Suffix, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Father, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.DropDownListFor(model => model.Father, new tbl_Person().ListPerson(), "Select Father", new { @class = "form-select form-select-sm searchbox" })
                    @Html.ValidationMessageFor(model => model.Father, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Mother, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.DropDownListFor(model => model.Mother, new tbl_Person().ListPerson(), "Select Mother", new { @class = "form-select form-select-sm searchbox" })
                    @Html.ValidationMessageFor(model => model.Mother, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.FamilyHead, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.DropDownListFor(model => model.FamilyHead, new tbl_Person().ListPerson(Model?.ID), "Select Family Head", new { @class = "form-select form-select-sm searchbox" })
                    @Html.ValidationMessageFor(model => model.FamilyHead, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.bday, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.bday, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.bday, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.gender, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.DropDownListFor(model => model.gender, Tool.Gender, new { @class = "form-select form-select-sm" })
                    @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.CivilStatus, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.DropDownListFor(model => model.CivilStatus, Tool.CivilStatus, new { @class = "form-select form-select-sm searchbox" })
                    @Html.ValidationMessageFor(model => model.CivilStatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.ShelterType, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.ShelterType, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.ShelterType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Occupation, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.isPWD, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    <div class="form-check">
                        @Html.EditorFor(model => model.isPWD, new { htmlAttributes = new { @class = "form-check-input" } })
                        <label class="form-check-label" for="isPWD">
                            (Check if Yes)
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.isPWD, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.RelationshipToHead, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.RelationshipToHead, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.RelationshipToHead, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.StNo, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.StNo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.StNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Address, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Remarks, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Guardian, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.DropDownListFor(model => model.Guardian, new tbl_Person().ListPerson(), "Select Guardian", new { @class = "form-select form-select-sm searchbox" })
                    @Html.ValidationMessageFor(model => model.Guardian, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.HouseHoldNo, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.HouseHoldNo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.HouseHoldNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.Partner, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.DropDownListFor(model => model.Partner, new tbl_Person().ListPerson(), "Select Partner", new { @class = "form-select form-select-sm searchbox" })
                    @Html.ValidationMessageFor(model => model.Partner, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                @Html.LabelFor(model => model.ContactNo, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4 offset-md-8">
            <div class="row">
                @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 col-md-3 col-lg-4 col-form-label col-form-label-sm" })
                <div class="col-sm-10 col-md-9 col-lg-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.searchbox').select2({ width: 'style' });

</script>