@using BrgyIS.Models
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewBag.Title</div>
        <div class="row row-cols-lg-auto g-1 align-items-center mt-3">
            <div class="col" aria-action="Add">
                <p>
                    <a href="#" data-bind="click: NewData"><i class="fa fa-plus-circle"></i> New record</a>
                </p>
            </div>
        </div>
        <table id="data" data-bind="with: Collection" class="table table-light table-hover table-striped table-bordered" style="font-size:0.9rem; with:100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-nowrap">Fullname</th>
                    <th class="text-nowrap">Family Head</th>
                    <th class="text-nowrap">Date of Birth</th>
                    <th class="text-nowrap">Gender</th>
                    <th class="text-nowrap">Civil Status</th>
                    <th class="text-nowrap">Shelter Type</th>
                    <th class="text-nowrap">Occupation</th>
                    <th class="text-nowrap">PWD</th>
                    <th class="text-nowrap">Relationship</th>
                    <th class="text-nowrap">St. No</th>
                    <th class="text-nowrap">Address</th>
                    <th class="text-nowrap">Remarks</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $data">
                <tr>
                    <td><span data-bind="text: ID"></span></td>
                    <td class="text-nowrap">
                        <span data-bind="text: Fullname"></span> <br />
                        <span class="text-nowrap">
                            <a href="#" data-bind="click: $root.EditData"><i class="fa fa-edit"></i></a>
                            <a href="#" data-bind="click: $root.select"><i class="fa fa-stamp"></i></a>
                        </span>
                    </td>
                    <td><span data-bind="text: FamilyHeadName"></span></td>
                    <td><span data-bind="text: moment(bday).format('MMMM-DD-YYYY')"></span></td>
                    <td><span data-bind="text: gender"></span></td>
                    <td><span data-bind="text: CivilStatus"></span></td>
                    <td><span data-bind="text: ShelterType"></span></td>
                    <td><span data-bind="text: Occupation"></span></td>
                    <td><span data-bind="text: isPWD"></span></td>
                    <td><span data-bind="text: RelationshipToHead"></span></td>
                    <td><span data-bind="text: StNo"></span></td>
                    <td><span data-bind="text: Address"></span></td>
                    <td><span data-bind="text: Remarks"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Fullname</th>
                    <th>Family Head</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Civil Status</th>
                    <th>Shelter Type</th>
                    <th>Occupation</th>
                    <th>PWD</th>
                    <th>Relationship</th>
                    <th>St. No</th>
                    <th>Address</th>
                    <th>Remarks</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<div class="modal fade" id="actionModal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div data-bind="html: Content" class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="FormsModal" data-bind="with: Selected">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @using (Html.BeginForm("GenerateForms", "Person", new { area = "" }, FormMethod.Post, new { target = "_blank" }))
            {
                <div class="modal-header">
                    Generate Form
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-4 col-form-label">Fullname</label>
                        <div class="col-md-8">
                            <b data-bind="text: Fullname"></b>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label">Age</label>
                        <div class="col-md-8">
                            <b data-bind="text: Age + ' Years old'"></b>
                        </div>
                    </div>
                    <input type="hidden" data-bind="value: ID" name="ID" />
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Select Form</label>
                        <div class="col-md-8">
                            <select name="Type" required class="form-select">
                                <option value="">Select Option</option>
                                <!--ko foreach: $root.Forms-->
                                <option data-bind="attr: {value: ID}, text: Description"></option>
                                <!--/ko-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>


@section scripts {
    <script>

        function PersonModel() {
            var self = this;
            self.Content = ko.observable(null);
            self.Collection = ko.observableArray();
            self.Forms = ko.observableArray([
                { ID: 0, Description: 'Brgy. Clearance' },
                { ID: 1, Description: 'Cedula' },
                { ID: 2, Description: 'Certificate of Residency' }
            ]);
            self.Selected = ko.observable();
            self.table = null;

            self.select = (d) => {
                self.Selected(d);
                $('#FormsModal').modal('show');
            }

            self.NewData = () => {
                $.get('@Url.Action("Create", "Person", new { area = "" })', null, (d) => {
                    self.Content(d);
                    $('#actionModal').modal('show');
                });
            }

            self.EditData = (m) => {
                $.get('@Url.Action("Edit", "Person", new { area = "" })', { ID: m.ID }, (d) => {
                    self.Content(d);
                    $('#actionModal').modal('show');
                });
            }

            self.loadData = () => {
                $.get('@Url.Action("List", "Person", new { area = ""})', null, (d) => {
                    self.Collection(d.data);
                    if (self.table !== null)
                        self.table.destroy();
                    self.table = $('#data').DataTable({
                        responsive: true,
                        layout: {
                            top: {
                                buttons: [{ extend: 'print', exportOptions: { columns: ':visible' } }, { extend: 'excel', exportOptions: { columns: ':visible' } }, { extend: 'colvis', exportOptions: { columns: ':visible' } }]
                            }
                        },
                        ordering: false,
                        searching: true,
                        stateSave: true
                    });
                });
            }
            self.loadData();
        }

        var model = new PersonModel();
        ko.applyBindings(model);

    </script>
}