@using BrgyIS.Models
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewBag.Title</div>
        <div class="row row-cols-lg-auto g-1 align-items-center mt-3">
            <div class="col" aria-action="Add">
                <p>
                    <a href="#" data-bind="click: NewData"><i class="fa fa-plus-circle"></i> New record</a>
                </p>
            </div>
        </div>
        <table id="data" data-bind="with: Collection" class="table table-sm table-light table-hover table-striped table-bordered" style="font-size:0.9rem; width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th class="text-nowrap">Fullname</th>
                    <th class="text-nowrap">Father</th>
                    <th class="text-nowrap">Mother</th>
                    <th class="text-nowrap">Family Head</th>
                    <th class="text-nowrap">Date of Birth</th>
                    <th class="text-nowrap">Gender</th>
                    <th class="text-nowrap">Civil Status</th>
                    <th class="text-nowrap">House Hold#</th>
                    <th class="text-nowrap">Shelter Type</th>
                    <th class="text-nowrap">Occupation</th>
                    <th class="text-nowrap">PWD</th>
                    <th class="text-nowrap">Relationship</th>
                    <th class="text-nowrap">St. No</th>
                    <th class="text-nowrap">Address</th>
                    <th class="text-nowrap">Guardian</th>
                    <th class="text-nowrap">Remarks</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $data">
                <tr>
                    <td></td>
                    <td><span data-bind="text: ID"></span></td>
                    <td class="text-nowrap">
                        <div class="dropend">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                <b data-bind="text: Fullname"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-bind="click: $root.EditData"><i class="fa fa-edit"></i> Edit</a></li>
                                <li><a class="dropdown-item" href="#" data-bind="click: $root.select"><i class="fa fa-stamp"></i> Forms</a></li>
                                <li><a class="dropdown-item" href="#" data-bind="click: $root.HistoryData"><i class="fa fa-history"></i> History</a></li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-nowrap"><span data-bind="text: FatherName"></span><span data-bind="visible: FatherName">N/A</span></td>
                    <td class="text-nowrap"><span data-bind="text: MotherName"></span><span data-bind="visible: MotherName">N/A</span></td>
                    <td class="text-nowrap"><span data-bind="text: FamilyHeadName"></span></td>
                    <td class="text-nowrap"><span data-bind="text: moment(bday).format('MMMM-DD-YYYY')"></span></td>
                    <td class="text-nowrap"><span data-bind="text: gender"></span></td>
                    <td class="text-nowrap"><span data-bind="text: CivilStatus"></span></td>
                    <td class="text-nowrap"><span data-bind="text: HouseHoldNo"></span></td>
                    <td class="text-nowrap"><span data-bind="text: ShelterType"></span></td>
                    <td class="text-nowrap"><span data-bind="text: Occupation"></span></td>
                    <td class="text-nowrap"><span data-bind="text: isPWD"></span></td>
                    <td class="text-nowrap"><span data-bind="text: RelationshipToHead"></span></td>
                    <td class="text-nowrap"><span data-bind="text: StNo"></span></td>
                    <td class="text-nowrap"><span data-bind="text: Address"></span></td>
                    <td class="text-nowrap"><span data-bind="text: GuardianName"></span><span data-bind="visible: GuardianName">N/A</span></td>
                    <td class="text-nowrap"><span data-bind="text: Remarks"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th class="text-nowrap">Fullname</th>
                    <th class="text-nowrap">Father</th>
                    <th class="text-nowrap">Mother</th>
                    <th class="text-nowrap">Family Head</th>
                    <th class="text-nowrap">Date of Birth</th>
                    <th class="text-nowrap">Gender</th>
                    <th class="text-nowrap">Civil Status</th>
                    <th class="text-nowrap">House Hold#</th>
                    <th class="text-nowrap">Shelter Type</th>
                    <th class="text-nowrap">Occupation</th>
                    <th class="text-nowrap">PWD</th>
                    <th class="text-nowrap">Relationship</th>
                    <th class="text-nowrap">St. No</th>
                    <th class="text-nowrap">Address</th>
                    <th class="text-nowrap">Guardian</th>
                    <th class="text-nowrap">Remarks</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<div class="modal fade" id="actionModal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div data-bind="html: Content" class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="historyModal" data-bind="with: Selected">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                Forms created
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-4 col-form-label">Fullname</label>
                    <div class="col-md-8">
                        <b data-bind="text: Fullname"></b>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Age</label>
                    <div class="col-md-8">
                        <b data-bind="text: Age + ' Years old'"></b>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="historyTable" data-bind="with: $root.HistoryList" style="width: 100%" class="table table-sm table-light table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Form</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--ko foreach: $data-->
                            <tr>
                                <td><span data-bind="text: Form"></span></td>
                                <td><span data-bind="text: moment(Timestamp).format('MMMM-DD-YYYY hh:mm A')"></span></td>
                            </tr>
                            <!--/ko-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FormsModal" data-bind="with: Selected">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @using (Html.BeginForm("GenerateForms", "Person", new { area = "" }, FormMethod.Post, new { target = "_blank" }))
            {
                <div class="modal-header">
                    Generate Form
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-4 col-form-label">Fullname</label>
                        <div class="col-md-8">
                            <b data-bind="text: Fullname"></b>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label">Age</label>
                        <div class="col-md-8">
                            <b data-bind="text: Age + ' Years old'"></b>
                        </div>
                    </div>
                    <input type="hidden" data-bind="value: ID" name="ID" />
                    <div data-bind="with: $root.SelectedForm">
                        <input type="hidden" data-bind="value: ID" name="Type" />
                        <input type="hidden" data-bind="value: Description" name="Description" />
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Select Form</label>
                        <div class="col-md-8">
                            <select required class="form-select" data-bind="options: $root.Forms, optionsText: 'Description', optionsCaption: 'Select Form', value: $root.SelectedForm">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>


@section scripts {
    <script>

        function PersonModel() {
            var self = this;
            self.Content = ko.observable(null);
            self.Collection = ko.observableArray();
            self.Forms = ko.observableArray([
                { ID: 0, Description: 'Brgy. Clearance' },
                { ID: 1, Description: 'Cedula' },
                { ID: 2, Description: 'Certificate of Residency' }
            ]);
            self.Selected = ko.observable();
            self.table = null;

            self.HistoryList = ko.observableArray();
            self.historyTable = null;

            self.SelectedForm = ko.observable();

            self.select = (d) => {
                self.Selected(d);
                $('#FormsModal').modal('show');
            }

            self.HistoryData = (m) => {
                self.Selected(m);
                $.get('@Url.Action("List", "FormIssuance", new { area = "" })', {id : m.ID} , (d) => {
                    self.HistoryList(d.data);
                    if (self.historyTable !== null)
                        self.historyTable.destroy();
                    self.historyTable = $('#historyTable').DataTable({
                        responsive: true,
                        layout: {
                            top: {
                                buttons: [{ extend: 'print', exportOptions: { columns: ':visible' } }, { extend: 'excel', exportOptions: { columns: ':visible' } }, { extend: 'colvis', exportOptions: { columns: ':visible' } }]
                            }
                        },
                        ordering: false,
                        searching: true,
                        stateSave: true
                    });
                    $('#historyModal').modal('show');
                });
            }

            self.NewData = () => {
                $.get('@Url.Action("Create", "Person", new { area = "" })', null, (d) => {
                    self.Content(d);
                    $('#actionModal').modal('show');
                });
            }

            self.EditData = (m) => {
                $.get('@Url.Action("Edit", "Person", new { area = "" })', { ID: m.ID }, (d) => {
                    self.Content(d);
                    $('#actionModal').modal('show');
                });
            }

            self.loadData = () => {
                $.get('@Url.Action("List", "Person", new { area = ""})', null, (d) => {
                    self.Collection(d.data);
                    if (self.table !== null)
                        self.table.destroy();
                    self.table = $('#data').DataTable({
                        responsive: true,
                        layout: {
                            top: {
                                buttons: [{ extend: 'print', exportOptions: { columns: ':visible' } }, { extend: 'excel', exportOptions: { columns: ':visible' } }, { extend: 'colvis', exportOptions: { columns: ':visible' } }]
                            }
                        },
                        ordering: false,
                        searching: true,
                        stateSave: true
                    });
                });
            }
            self.loadData();
        }

        var model = new PersonModel();
        ko.applyBindings(model);

    </script>
}