@using BrgyIS.Models
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewBag.Title</div>
        <div class="row row-cols-lg-auto g-1 align-items-center mt-3">
            <div class="col" aria-action="Add">
                <p>
                    <a href="#" onclick="CreateForm()"><i class="fa fa-plus-circle"></i> New record</a>
                </p>
            </div>
        </div>
        <table id="data" class="table table-light table-hover table-striped table-bordered" style="font-size:0.9rem; with:100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-nowrap">Fullname</th>
                    <th class="text-nowrap">Family Head</th>
                    <th class="text-nowrap">Date of Birth</th>
                    <th class="text-nowrap">Gender</th>
                    <th class="text-nowrap">Civil Status</th>
                    <th class="text-nowrap">Shelter Type</th>
                    <th class="text-nowrap">Occupation</th>
                    <th class="text-nowrap">PWD</th>
                    <th class="text-nowrap">Relationship</th>
                    <th class="text-nowrap">St. No</th>
                    <th class="text-nowrap">Address</th>
                    <th class="text-nowrap">Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Fullname</th>
                    <th>Family Head</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Civil Status</th>
                    <th>Shelter Type</th>
                    <th>Occupation</th>
                    <th>PWD</th>
                    <th>Relationship</th>
                    <th>St. No</th>
                    <th>Address</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<div class="modal fade" id="actionModal" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
        </div>
    </div>
</div>


@section scripts {
    <script>

        var CreateForm = () => {
            $.get('@Url.Action("Create", "Person", new { area = "" })', null, (d) => {
                $('#actionModal .modal-content').html(d);
                $('#actionModal').modal('show');
            });
        }

        var EditForm = (ID) => {
            $.get(`@Url.Action("Edit", "Person", new { area = "" })?ID=${ID}`, null, (d) => {
                $('#actionModal .modal-content').html(d);
                $('#actionModal').modal('show');
            });
        }

        var table = $('#data').DataTable({
            select: {items: 'row',info: false},
            responsive: true,
            layout: {
                top: {
                    buttons: [{ extend: 'print', exportOptions: { columns: ':visible' } }, { extend: 'excel', exportOptions: { columns: ':visible' } }, { extend: 'colvis', exportOptions: { columns: ':visible' } }]
                }
            },
            ajax: { url: '@Url.Action("List", "Person", new { area = ""})' },
            columns: [{ data: 'ID' }, { data: 'Fullname' }, { data: 'FamilyHeadName' }, { data: 'bday', render: (data) => { return moment(data).format('MMM DD, yyyy'); } }, { data: 'gender' }, { data: 'CivilStatus' }, { data: 'ShelterType' }, { data: 'Occupation' }, { data: 'isPWD' }, { data: 'RelationshipToHead' }, { data: 'StNo' }, { data: 'Address' }, { data: 'Remarks' },
            {
                data: 'ID',
                render: (data) => { return `<a href='#' onclick="EditForm(${data})"><i class="fa fa-edit"></i></a>`; }
            }],
            ordering: false,
            searching: true,
            stateSave: true
        });

    </script>
}